<section id="about">
	
	<div class="arrow-down-yellow"></div>

	<div class="about-icon">
		{% include svg/about-icon.html %}
	</div>

	<h1>About us</h1>

	<div class="decoration"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h2>History</h2>
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic blanditiis saepe expedita, similique sit nobis vitae repudiandae ipsa quo sapiente molestias, debitis commodi harum repellat vel possimus repellendus maxime iste.</span><span>Nisi incidunt, a magnam ad velit accusamus vero, labore dolore recusandae eligendi facere sit aspernatur nobis veritatis maiores. Modi id praesentium molestiae itaque corporis voluptatem similique accusamus, recusandae eaque dignissimos.</span></p>
			</div>
			<div class="col-lg-6 col-md-6">
				<h2>Values</h2>
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nemo cum repellat perspiciatis odit corporis laboriosam architecto obcaecati porro iusto. Rem iure earum laboriosam, nulla placeat quo, perspiciatis culpa eaque.</span><span>Excepturi odio blanditiis illo enim libero, qui quaerat voluptas, ea tenetur repellendus beatae incidunt aliquid suscipit magnam optio eos rerum laborum nostrum. Ratione nam iure nesciunt eveniet, voluptate molestiae molestias!</span></p>
			</div>
			<div class="col-lg-12 col-md-12">
				<h2>Goals</h2>
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quam, repellat amet cumque nesciunt maiores velit sunt, reiciendis tenetur id pariatur, vitae? Molestias cumque obcaecati explicabo nostrum recusandae, nemo aperiam.</span>
				<span>Fuga aperiam aut fugiat explicabo saepe ducimus vero quidem aliquid. Autem doloremque fugit quaerat, quod voluptas perspiciatis, cum voluptatem animi ea! Aperiam iure minima reprehenderit atque animi, perspiciatis vitae temporibus!</span>
				<span>Delectus illo expedita alias necessitatibus aperiam optio sit praesentium labore deleniti, assumenda ex voluptates fuga ipsum explicabo unde sequi reiciendis culpa facilis pariatur neque odit inventore fugit suscipit sapiente. Adipisci.</span>
				<span>Blanditiis praesentium sunt aliquid. Architecto nihil consequatur blanditiis tempore libero nisi voluptatem officiis voluptatibus voluptates. Nam, eos repellat non molestias id modi dicta unde, fugit quos, vel nemo, odit cum.</span></p>
			</div>
		</div>
	</div>
</section>