<section id="footer">
	

	<div class="decoration"></div>

	<div class="footer-container">
		
		<div class="footer-column">
			<h2>Fast Menu</h2>
			<ul>
				<li><a href="">About</a></li>
				<li><a href="">Services</a></li>
				<li><a href="">Staff</a></li>
				<li><a href="">Clients</a></li>
				<li><a href="">News</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</div>

		<div class="footer-column">
			<div class="logo-white"></div>
		</div>

		<div class="footer-column">
			<h2>Identities</h2>
			<p>
				NIP No.: <span>5652519</span> <br>
				REGON No.: <span>848438281</span> <br>
				Bank account No.: <br>
				<span>0032-1102-1202-1133-1111-34</span> <br>
				Tel: <span>55-555-55</span> <br>
				Fax: <span>55-555-56</span> <br>
				Representative: <span>Scott Novicky</span>

			</p>
		</div>

	</div>

	<div class="copyright-decoration"></div>
	<span class="copyright">All content copyright 2014</span>



</section>
