<section id="header">

	<div class="start-bg" data-speed="5" data-type="background">
		<nav>
			<a href="#"><div class="logo"></div></a>
			<div class="cont">
				
				<ul>

					<a class="section-pick" href="#about">
						<li>About</li>
					</a>
					<a class="section-pick" href="#services">
						<li>Services</li>
					</a>
					<a class="section-pick" href="#staff">
						<li>Staff</li>
					</a>
					<a class="section-pick" href="#clients">
						<li>Clients</li>
					</a>
					<a class="section-pick" href="#news">
						<li>News</li>
					</a>
					<a class="section-pick" href="#contact">
						<li>Contact</li>
					</a>					
				</ul>
			</div>
		</nav>
			
		<p id="title-part1">Local<br/>
			<span id="title-part2">Logistic</span> <br/>
			<span id="title-brackets" >Global standards</span>
		</p>
			
		<div class="scroll-wrapper">
			<a href="javascript:void();" onclick="scroll_to('#about');">
				<div class="scroll-icon"> {% include svg/scroll.html %} </div>
				<p> <span class="glyphicon glyphicon-chevron-down"></span></p>				
			</a>			
		</div>
			
	</div>		
			
	<div class="dropdown dropdown-user">
		  <button type="button" id="dropdownMenu1" data-toggle="dropdown">
		   	<span class="glyphicon glyphicon-th-list" ></span>
		   
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void();" onclick="scroll_to('#about');">About</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void();" onclick="scroll_to('#services');">Services</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void();" onclick="scroll_to('#staff');">Staff</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" "javascript:void();" onclick="scroll_to('#clients');">Clients</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void();" onclick="scroll_to('#news');">News</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void();" onclick="scroll_to('#contact');">Contact</a></li>
		  </ul>
	</div>

	<a href="javascript:void();" onclick="scroll_to('#header');">
		<div class="scroll-to-top">
			<div class="scroll-to-top-wrapper">
				<span class="glyphicon glyphicon-chevron-up"></span>
			</div>
		</div>
	</a>
</section>