<section id="news" >

	<div class="news-bg" data-speed="3" data-type="background">


		<div class="arrow-down-white"></div>
		<div class="news-icon">
			{% include svg/news-icon.html %}
		</div>
		<h2>Last news</h2>
		<div class="decoration"></div>

		{% for post in site.posts %}
		
		<div class="news-unit-holder">
			<h3 class="news-date">
				<span>{{post.day}}</span> | {{post.month}} | {{post.year}} 
			</h3>
			<a href="{{ post.url | prepend: site.baseurl }}">
				<div class="news-unit">
					<div class="news-img" style="background:url(../img/post-images/{{post.image}}) center center; background-size:cover;"></div>
					<div class="news-content">
						<h1>{{post.title}}</h1>
						<p> {{post.max_40_words}} </p>
					</div>
					<div class="news-courtain">
						<div class="news-courtain-more">
							<p>See full post</p>
						</div>
						<div class="news-courtain-plus">
							{% include svg/plus-icon.html %}
						</div>
					</div>
				</div>
				<h3 class="news-author">
					Author: <span>{{post.author}}</span>
				</h3>
			</a>
		</div>
		{% endfor %}
		<div class="full-archives-holder">
			<a href="">
				<p>Check out full archives here <span class="glyphicon glyphicon-chevron-right"></span></p>
			</a>
		</div>
		<div class="news-angle-down"></div>
	</div>
</section>




