<section id="services">
	
	<div class="service-bg-long">
	<div class="services-bg-map"  data-type="background">
		
		<div class="arrow-down-white"></div>

		<div class="services-icon">
			{% include svg/services-icon.html %}
		</div>
		<h3>Services</h3>
		<div class="decoration"></div>

	

		<div class="container">
			<row>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<h2>Logistic</h2>
					<div class="service-unit">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolorem esse quod voluptatum deleniti fugit porro ipsum aut. Dicta, nesciunt. Sequi fugiat ipsa, voluptas doloremque soluta! Quia maiores cumque blanditiis.</p>
						<a href="">
							<div class="service-curtain">
								<div class="service-unit-icon">
									{% include svg/logistic-icon.html %}
								</div>
								<em>See more <br/>
									<span class="glyphicon glyphicon-link"></span>
								</em>
							</div>
						</a>

					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<h2>Spedition</h2>
					<div class="service-unit">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolorem esse quod voluptatum deleniti fugit porro ipsum aut. Dicta, nesciunt. Sequi fugiat ipsa, voluptas doloremque soluta! Quia maiores cumque blanditiis.</p>
						<a href="">
							<div class="service-curtain">
								<div class="service-unit-icon">
									{% include svg/spedition-icon.html %}
								</div>
								<em>See more <br/>
									<span class="glyphicon glyphicon-link"></span>
								</em>
							</div>
						</a>
					</div>
				</div>
			</row>
			
			<row>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<h2>Storage</h2>
					<div class="service-unit">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolorem esse quod voluptatum deleniti fugit porro ipsum aut. Dicta, nesciunt. Sequi fugiat ipsa, voluptas doloremque soluta! Quia maiores cumque blanditiis.</p>
						<a href="">
							<div class="service-curtain">
								<div class="service-unit-icon">
									{% include svg/storage-icon.html %}
								</div>
								<em>See more <br/>
									<span class="glyphicon glyphicon-link"></span>
								</em>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<h2>Tracking</h2>
					<div class="service-unit">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolorem esse quod voluptatum deleniti fugit porro ipsum aut. Dicta, nesciunt. Sequi fugiat ipsa, voluptas doloremque soluta! Quia maiores cumque blanditiis.</p>
						<a href="">
							<div class="service-curtain">
								<div class="service-unit-icon">
									{% include svg/tracking-icon.html %}
								</div>
								<em>See more <br/>
									<span class="glyphicon glyphicon-link"></span>
								</em>
							</div>
						</a>
					</div>
				</div>
			</row>
		</div>
		<div class="arrow-down-white-reverse"></div>
	</div> <!-- [End] service-bg-map -->
	</div> <!-- [End] service-bg-long -->


</section>