<section id="staff">
	
<div class="staff-icon">
	{% include svg/staff-icon.html %}
</div>
<h2 class="staff-header">Our staff</h2>
<div class="decoration"></div>

<div class="container staff-container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6">

			<div class="staff-unit">
				
				<div class="staff-face-1"></div>
				<h3>Scott Kowalski</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae similique, illum quia, ipsa a temporibus ratione libero aliquam debitis itaque accusamus veritatis eaque, necessitatibus, voluptatem distinctio! Exercitationem harum, atque molestiae!</p>
				<div class="job-title-holder">
					<p>Senior Logistics</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6">
			<div class="staff-unit">
				<div class="staff-face-2"></div>
				<h3>Katie Fog</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae similique, illum quia, ipsa a temporibus ratione libero aliquam debitis itaque accusamus veritatis eaque, necessitatibus, voluptatem distinctio! Exercitationem harum, atque molestiae!</p>
				<div class="job-title-holder">
					<p>Junior Speditor</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6">
			<div class="staff-unit">
				<div class="staff-face-3"></div>
				<h3>Matt O'Hara</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae similique, illum quia, ipsa a temporibus ratione libero aliquam debitis itaque accusamus veritatis eaque, necessitatibus, voluptatem distinctio! Exercitationem harum, atque molestiae!</p>
				<div class="job-title-holder">
					<p>Truck Driver</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6">
			<div class="staff-unit">
				<div class="staff-face-4"></div>
				<h3>Steven Novak</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae similique, illum quia, ipsa a temporibus ratione libero aliquam debitis itaque accusamus veritatis eaque, necessitatibus, voluptatem distinctio! Exercitationem harum, atque molestiae!</p>
				<div class="job-title-holder">
					<p>IT Manager</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="rest-team-holder">
	<a href="">
		<p class="rest-team-members">Chek out the rest of our team <span class="glyphicon glyphicon-chevron-right"></span></p>
	</a>
</div>

	

<em class="go-ahead">

	and<br/>
	//  go ahead with <br/>
	 these people  // 

</em>




</section>