<section id="stats" data-speed="6" data-type="background">
	<div class="parallax-angle-up"></div>

	<div class="stats-icon">
		{% include svg/stats-icon.html %}
	</div>
	<h2>Statistics</h2>
	<div class="decoration"></div>
	
	<div class="stats-wrapper">
		
		<div class="icon-holders">
			<div class="icon-unit">
				{% include svg/km-icon.html %}
			</div>
			<em>1000 <br/>
			km/day</em>
		</div>
		<div class="icon-holders">
			<div class="icon-unit">
				{% include svg/trucks-icon.html %}
			</div>
			<em>36 <br/>
			trucks in constant move</em>
		</div>
		<div class="icon-holders">
			<div class="icon-unit">
				{% include svg/packages-icon.html %}
			</div>
			<em>400 <br/>
			packages/day</em>
		</div>
		<div class="icon-holders">
			<div class="icon-unit">
				{% include svg/happy-clients-icon.html %}
			</div>
			<em>2500 <br/>
			happy clients</em>
		</div>

	</div>


	<div class="parallax-angle-down"></div>
</section>