#clients{
	position: relative;
	width:100%;
	padding-top: 50px;
	background: white;


	.clients-icon{
		width: 50px;
		height: 50px;
		margin:60px auto 0;

		path{
			fill:$dark;
		}

	}
	h2{
		@extend %h1-bold;
		text-align: center;
	}
	.decoration{
		margin-bottom: 100px;
	}
	.client-controls{
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		width:100%;
		
		
		> div{
			width: 50px;
			height: 50px;
			cursor:pointer;
			
		
			path{
				fill:$dark;
			}
		}
		.client-next{
			position:absolute;
			top:40%;
			right:20px;
		}
		.client-prev{
			position:absolute;
			top:40%;
			left:20px;
		}
		
	}
	.client-belt{
		position: absolute;
		
		width:100%;
		z-index:0.5;
		

		.client-unit{
			
			
			position: absolute;
			left:50%;
			max-width: 1000px;
			margin-left:-500px;

			-webkit-display: none;
			-moz-display: none;
			-ms-display: none;
			-o-display: none;
			display: none;

			&.active-client{
				-webkit-display: flex;
				-moz-display: flex;
				-ms-display: flex;
				-o-display: flex;
				display: flex;

				@extend %bounceOut;


				

				

			}


			.client-thumb{
				min-width:200px;
				position: relative;
				color:$dark;
				text-align: center;

				-webkit-font-family: $open;
				-moz-font-family: $open;
				-ms-font-family: $open;
				-o-font-family: $open;
				font-family: $open;

				-webkit-font-size: 18px;
				-moz-font-size: 18px;
				-ms-font-size: 18px;
				-o-font-size: 18px;
				font-size: 18px;

				-webkit-font-weight: 700;
				-moz-font-weight: 700;
				-ms-font-weight: 700;
				-o-font-weight: 700;
				font-weight: 700;

				.client-logo{
					
					
					img{
						
						opacity:0.6;
					}

				}

				.client-name{
					display: block;
				}
				.client-title{
					display: block;
					-webkit-font-weight: 300;
					-moz-font-weight: 300;
					-ms-font-weight: 300;
					-o-font-weight: 300;
					font-weight: 300;
				}
			}
			.client-content{
				margin-left: 50px;
				position: relative;

				.client-quote-mark-up{
					width: 80px;
					height: 80px;
					position: absolute;
					top:-20px;
					left:-30px;
					opacity:0.5;
					z-index:-1;

					path{
						fill:$primary;
					}

				}
				.client-quote-mark-down{
					width: 80px;
					height: 80px;
					position: absolute;
					bottom:0;
					right:0;
					opacity:0.5;
					z-index:-1;

					path{
						fill:$primary;
					}

				}
				p{
					z-index: 0.5;
					color:$dark;
					line-height:2.5;
					-webkit-font-family: $open;
					-moz-font-family: $open;
					-ms-font-family: $open;
					-o-font-family: $open;
					font-family: $open;

					-webkit-font-size: 24px;
					-moz-font-size: 24px;
					-ms-font-size: 24px;
					-o-font-size: 24px;
					font-size: 24px;

					-webkit-font-weight: 300;
					-moz-font-weight: 300;
					-ms-font-weight: 300;
					-o-font-weight: 300;
					font-weight: 300;
				}
			}	
		}
	}
	.clients-dots{
		position: relative;
		width:300px;
		height: 50px;

		margin:0 auto;
		margin-top:480px;
		-webkit-display: flex;
		-moz-display: flex;
		-ms-display: flex;
		-o-display: flex;
		display: flex;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-ms-justify-content: space-around;
		-o-justify-content: space-around;
		justify-content: space-around;


		.client-dot{
			cursor:pointer;
			width: 30px;
			height: 30px;
			background: grey;
			background: $dark;
			border:2px solid $primary;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
			-webkit-transition: 300ms ease-in;
			-o-transition: 300ms ease-in;
			transition: 300ms ease-in;

			&.active-client{
				background: $primary;
				
			}

		}

	}
}

.rest-clients-holder{
	position: relative;
	display: block;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 100px;
	

	.rest-clients{


		@extend %h1-bold;

		color: $primary;
		display: inline-block;
		text-align: center;
		margin:0 auto;
		text-transform: uppercase;
		-webkit-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		
		&:hover{
			opacity:0.6;
		}
	}
}

@media screen and (max-width:1199px){
	#clients .client-belt .client-unit.active-client img{
		width:150px;
		height: 150px;
	}
	#clients .client-belt .client-unit.active-client{
		max-width:800px;
		margin-left:-400px;

	}
	#clients .client-belt .client-unit.active-client p{
		line-height:2;
	}
	#clients .clients-dots{
		margin-top: 480px;
	}
}
@media screen and (max-width:899px){
	#clients .client-belt .client-unit.active-client img{
		width:100px;
		height: 100px;
	}
	#clients .client-belt .client-unit.active-client{
		max-width:600px;
		margin-left:-300px;
	}
	#clients .client-belt .client-unit .client-content {
		margin-left:10px;
	}
	#clients .client-belt .client-unit.active-client p{
		line-height:1.5;
	}
	#clients .decoration{
		margin-bottom: 50px;
	}
	#clients .clients-dots{
		margin-top: 380px;
		
	}
}

@media screen and (max-width:786px){

	#clients .client-belt .client-unit.active-client{
		width:400px;
		display:block;
		margin-left:-200px;
	}
	#clients .client-belt .client-unit.active-client .client-thumb{
		-webkit-font-size: 14px;
		-moz-font-size: 14px;
		-ms-font-size: 14px;
		-o-font-size: 14px;
		font-size: 14px;
		margin-bottom:20px;
	}
	#clients .clients-dots{
		margin-top: 570px;
	}
	#clients .client-belt .client-unit .client-content .client-quote-mark-down{
		bottom:-20px;
	}

}
@media screen and (max-width:565px){

	#clients .client-belt .client-unit.active-client{
		width:350px;
		margin-left:-175px;
	}
	#clients .client-belt .client-unit .client-thumb{
		display:block;
		font-size:12px;
		margin-bottom: 20px;
	}
	#clients .clients-dots{
		margin-top: 500px;
		padding-top: 80px;
	}
	#clients .client-controls{
		display:none;
	}
}
@media screen and (max-width:388px){
	#clients .client-belt .client-unit.active-client{
		width:300px;
		margin-left:-150px;
	}	

	#clients .clients-dots{
		margin-top: 610px;

	}
	#clients .client-belt .client-unit .client-content .client-quote-mark-up{
		left:-10px;
	}
	#clients .client-belt .client-unit .client-content .client-quote-mark-down{
		bottom:0;
	}
	#clients .client-belt .client-unit .client-content {
		padding:10px;

	}
}
