
.cont{
	max-width:1200px;
	margin:0 auto;
}
			

.scroll-icon{
	margin-top: 10px;
}
.start-bg{
	width: 100%;
	height: 100vh;
	position: relative;
	background: url(../img/truck-bg2.png) center center fixed;
	background-size: cover;
	margin: 0 auto;
	

	nav {
		
		
		height: 80px;
		-webkit-position: fixed;
		-moz-position: fixed;
		-ms-position: fixed;
		-o-position: fixed;
		position: fixed;
		width: 100%;
		-webkit-z-index: 10;
		-moz-z-index: 10;
		-ms-z-index: 10;
		-o-z-index: 10;
		z-index: 1;

		
		-webkit-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		

		.logo{
			margin-top: 10px;
			margin-left:20px;
			width:140px;
			height: 60px;
			background: url(../img/logo-logistic-dark.png) center center;
			background-size:cover;
			position: absolute;
			left:5%;



		}
	}
	.sticky{
		background:white;
		border-bottom: 2px solid $primary;

		ul a{
			color:$dark;
		}
		.logo{
			margin-top: 10px;
			margin-left:20px;
			width:140px;
			height: 60px;
			background: url(../img/logo-logistic-dark.png) center center;
			background-size:cover;
			float:left;
		}
		

	}
	
	

	ul{
		display:inline-block;
		text-align: center;
		float: right;
		height: 80px;
		margin:0;
		list-style-type: none;

		a{
			display: inline-block;
			margin-left: 40px;
			text-transform: uppercase;
			height: 100%;
			width:100px;
			text-decoration:none;
			color: $dark;
			letter-spacing: 1px;
			padding-top: 25px;;

			-webkit-font-family:$open ;
			-moz-font-family:$open ;
			-ms-font-family:$open ;
			-o-font-family:$open ;
			font-family:$open ;

			-webkit-font-weight:700 ;
			-moz-font-weight:700 ;
			-ms-font-weight:700 ;
			-o-font-weight:700 ;
			font-weight:700 ;

			-webkit-transition: all 300ms;
			-moz-transition: all 300ms;
			transition: all 300ms;
			&.active-section{
				background:$primary;
			}

			&:hover{
				background: $primary;
				color:white;
				-webkit-transition: all 300ms;
				-moz-transition: all 300ms;
				transition: all 300ms;
			}			
		
			&:first-child{
				margin-left:0;
			}
		}	
	}
	#title-part1{
		position: relative;
		color: $primary;
		text-align: center;
		padding-top: 170px;
		text-transform: uppercase;

		-webkit-font-size:80px ;
		-moz-font-size:80px ;
		-ms-font-size:80px ;
		-o-font-size:80px ;
		font-size:80px ;
		
		-webkit-font-weight:700 ;
		-moz-font-weight:700 ;
		-ms-font-weight:700 ;
		-o-font-weight:700 ;
		font-weight:700 ;

		-webkit-font-family: $open ;
		-moz-font-family: $open ;
		-ms-font-family: $open ;
		-o-font-family: $open ;
		font-family: $open ;
	}

	#title-part2{
		color: $dark;
		position: relative;
		top:-50px;

		-webkit-font-weight: 300;
		-moz-font-weight: 300;
		-ms-font-weight: 300;
		-o-font-weight: 300;
		font-weight: 300;
	}
	#title-brackets{
		color: $dark;
		position: relative;
		top:-135px;

		-webkit-font-size: 30px;
		-moz-font-size: 30px;
		-ms-font-size: 30px;
		-o-font-size: 30px;
		font-size: 30px;

		-webkit-font-weight: 300;
		-moz-font-weight: 300;
		-ms-font-weight: 300;
		-o-font-weight: 300;
		font-weight: 300;


	}	
	.scroll-wrapper{
		
		position: relative;
		margin: 0 auto;
		margin-top: -110px;
		width:80px;
		text-align:center;

		

		.scroll-icon{
			margin: 0 auto;
			width: 50px;



			path{
				fill: $dark;
				-webkit-transition: all 300ms;
				-moz-transition: all 300ms;
				transition: all 300ms;

			}
		}
		p{
			color:$dark;
			text-transform: uppercase;
			text-align: center;
			line-height: 1.2;

			-webkit-font-size: 22px;;
			-moz-font-size: 22px;;
			-ms-font-size: 22px;;
			-o-font-size: 22px;;
			font-size: 22px;;

			-webkit-font-family: $open;
			-moz-font-family: $open;
			-ms-font-family: $open;
			-o-font-family: $open;
			font-family: $open;

			-webkit-font-weight: 300;
			-moz-font-weight: 300;
			-ms-font-weight: 300;
			-o-font-weight: 300;
			font-weight: 300;


		}
		a{
			width:50px;
			-webkit-transition: all 300ms;
			-moz-transition: all 300ms;
			transition: all 300ms;

			&:hover{
				text-decoration: none;


				.scroll-icon path{

					fill: $primary;
					-webkit-transition: all 300ms;
					-moz-transition: all 300ms;
					transition: all 300ms;	
				}
			}

		}	
	}


}
.dropdown-user{
	display:none;
	position: fixed;
	top:0;
	right:40px;
	background:none;
	z-index: 1;


	button{
		height:80px;
		background:none;
		border:none;
		text-transform: uppercase;
		color: $dark;
		letter-spacing: 1px;
		

		-webkit-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;

		-webkit-font-family: $open;
		-moz-font-family: $open;
		-ms-font-family: $open;
		-o-font-family: $open;
		font-family: $open;


		-webkit-font-weight:700 ;
		-moz-font-weight:700 ;
		-ms-font-weight:700 ;
		-o-font-weight:700 ;
		font-weight:700 ;

		&.sticky{
			color:$dark;
		}

		span:first-child{
			-webkit-font-size: 24px;
			-moz-font-size: 24px;
			-ms-font-size: 24px;
			-o-font-size: 24px;
			font-size: 24px;
		}
	}
	ul{
		position: relative;
		top:80px;
		left:33px;
		background:$primary;


		li{
			border-bottom:1px dotted $dark;
			text-align: center;

			&:last-child{
				border-bottom: none;;
			}

			a{
			letter-spacing: 1px;
			color:$dark;
			opacity:0.7;

			text-transform: uppercase;
			-webkit-font-family:$open ;
			-moz-font-family:$open ;
			-ms-font-family:$open ;
			-o-font-family:$open ;
			font-family:$open ;

			-webkit-font-weight:700 ;
			-moz-font-weight:700 ;
			-ms-font-weight:700 ;
			-o-font-weight:700 ;
			font-weight:700 ;

			-webkit-font-size: 16px;
			-moz-font-size: 16px;
			-ms-font-size: 16px;
			-o-font-size: 16px;
			font-size: 16px;
			}
		}
	}
}
.scroll-to-top{
	position: fixed;
	bottom:25px;
	right:25px;
	width: 40px;
	height: 40px;
	background: $primary;
	display:table;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	border:1px solid $dark;
	opacity:0;
	-webkit-transition: 300ms ease-in;
	-o-transition: 300ms ease-in;
	transition: 300ms ease-in;
	z-index: 10;
	&:hover{
		
		background: $dark;
		border-color:white;

		.scroll-to-top-wrapper{
			span{
				color:white;
			}
		}
	}
	
	&.scrolled{
		opacity:1;
	}

	.scroll-to-top-wrapper{
		display: table-cell;
		vertical-align:middle;
		text-align: center;

		span{
			-webkit-font-size: 24px;
			-moz-font-size: 24px;
			-ms-font-size: 24px;
			-o-font-size: 24px;
			font-size: 24px;

			color:$dark;




		}

	}
}




@media  (max-width:1003px){
	.dropdown-user{
		display:block;
		z-index: 1;

	}
	.sticky-dropdown button{
		color:$dark;
		opacity:1;
		
		
	}
	nav .cont ul{
		display:none;
	}
}

